<%provide(:title, "Contact")  %>
<h1>Contacts us</h1>
<p>
  Contact us on any issues emanating from the Ruby on Rails Tutorial at the
  <a href="https://www.railstutorial.org/help">Rails Tutorial help
  section</a>.
</p>
